.span >img {
width: 444.44px;
height: 250px;
border: 0.9px;
border-radius: 9px;
border-style: solid;
border-color: #777;
}
.client-div{

height: 150px;
}

.card-block {
min-height: 300px;
}
div.scrollmenu {
background-color: #343A40;
overflow: auto;
white-space: nowrap;
}

div.scrollmenu a {
display: inline-block;
color: white;
text-align: center;
margin: 14px;
width: 30%;
text-decoration: none;
}

div.scrollmenu a:hover {
background-color: #777;
}
div.scrollmenu >div {
display: inline-block;
color: white;
text-align: center;
padding: 14px;
width: 30%;
text-decoration: none;
}

div.scrollmenu img:hover {
background-color: #777;
}
.navigation{
margin-bottom: 40px;
}
.card{
    margin:20px;
    padding-bottom: 0px;
}

.card-body{
    margin:0px;
    padding-bottom: 0px;
    
}

ul.your-horizontal-list {
    white-space: nowrap;
    overflow-x: auto;
}

ul.your-horizontal-list li[class*="span"] {
    display: inline-block;
    float: none;
    margin: 10px;
}

.carousel-item >img{
    height: 300px;
    border-radius: 30px;
    border: 1px;
    border-radius: 9px;
    border-style: solid;
    border-color: #777;
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  outline-width: 3px;
  background-color: black;
  background-size: 100%, 100%;
  border-radius: 2px;
  margin: 2px;
}
.carousel-indicators li {
    display: inline-block;
    
    cursor: pointer;
    border: none;
    border-radius: 10%;
    background-color: black;
}
.carousel-indicators .active {
    background-color: darkgray;
}

.card-clickable{
    z-index: 1;
    transition: transform 1s;
}
.card-clickable:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 8px 8px 20px 5px grey;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 3;
}

a{
    color: black;
    text-decoration: none;
}
a:hover, a:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.custom-height{
    height: 200px;
    text-align: center;
}
.col-info-card{
    height: 90%;
}
.card-text-info{
    vertical-align: 50%;
}
.number{
    margin-right: 10px;
}

.background-ico {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 100%;
    color: #dadada;
    
    z-index: 1;
}
.forground-txt{
  position: relative;
  margin: o o 20px;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
}


p{
    font-size: large;
}

/* sidebar items */
.nav-link .sidebar-text , .nav-link .sidebar-ico,  
.nav-link .sidebar-sub-text , .nav-link .sidebar-sub-ico  
{
  color: #c8efd4;
}
/* sidebar items on hover*/
.nav-link:hover .sidebar-text , .nav-link:hover .sidebar-ico,  
.nav-link:hover .sidebar-sub-text , .nav-link:hover .sidebar-sub-ico  
{
  color: #2aa52a;
}
.sidebar-ico{
  width: 25px;
  height: 25px;
  color: #dadada;
}
.sidebar-sub-ico{
  width: 25px;
  height: 25px;
  color: #dadada;
  margin-right: 10%;
}

  
.sidebar-text{
  color: #d8d8d8;
}

.sidebar-sub-text{
  
}

.sidebar-burger{
  font-size:30px;
  cursor:pointer;
}

body {
  transition: background-color .5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #343A40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
